<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Товары пользователя: ' + ${user.username}"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
    <div class="items" th:if="${!user.items.isEmpty()}">
<!--    <div class="items">-->

        <div th:each="el : ${user.items}">
            <img th:src="${el.image}" th:alt="${el.title}">
            <h3 th:text="${el.title}" />
            <p th:text="${el.info}" />
            <span th:text="${el.price} + '$'" />
        </div>
    </div>
    <div th:if="${user.items.isEmpty()}" class="block">
        <p>Нет товаров</p>
    </div>
</main>

<div th:replace="layouts/footer :: footer"></div>
</body>
</html>